html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(img/back.png);
}

header {
    background-image: url(img/header.png);
    height: 100px;
    background-repeat: repeat-x;
}
main {
    margin: 100px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    letter-spacing: 5px;
    color: #213e80;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

form {
    display: flex;
}

#submit {
    padding: 5px;
    border-radius: 24px;
    border-color: transparent;
    background-color: orangered;
    cursor: pointer;
    outline: none;
    width: 69px;
}

#submit:hover {
    border-color: blueviolet;
}

#text {
    flex-grow: 1;
    margin-right: 8px;
    outline-color: blue;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
}

#list {
    padding: 0;
}

#list li {
    list-style: none;
    padding: 14px;
    border: 1px solid blue;
    margin-bottom: 8px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
#list li span:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
}
#list li span:nth-child(2) {
    color: #c82972;
    cursor: pointer;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    min-width: 20px;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
